/* Navbar Animations */
.NavElement {
  animation: navAnimation;
  animation-duration: 1s;
}
@keyframes navAnimation {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
#NavH3 {
  animation: logoAnimation;
  animation-duration: 1s;
}
@keyframes logoAnimation {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
/* home page Animations */
.iconCard {
  animation: SocialIconAnimation;
  animation-duration: 1s;
}
@keyframes SocialIconAnimation {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}
.loader {
  position: relative;
  overflow: hidden;
  width: 0px;
  animation: typewriter 4s steps(10) infinite alternate, steps(10) infinite;
}

.loader-text {
  font-size: 56px;
  font-weight: 600;
  background-color: #6499e9;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 350px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  100% {
    border-right-color: transparent;
  }
}
/* About Animations */
#aboutHeading {
  animation: aboutAnimation;
  animation-duration: 1.5s;
  animation-delay: 5s;
}
@keyframes aboutAnimation {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
#contact-btn {
  animation: contactAnimation;
  animation-duration: 1.5s;
  animation-delay: 5s;
}
@keyframes contactAnimation {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}
#download-btn {
  animation: downloadAnimation;
  animation-duration: 1.5s;
  animation-delay: 5s;
}
@keyframes downloadAnimation {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
/* skill card Animations */
.card {
  animation: cardAnimation;
  animation-duration: 1.5s;
  animation-delay: 8s;
}
@keyframes cardAnimation {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}
#skillanimation {
  animation: skillAnimation;
  animation-duration: 1.5s;
  animation-delay: 8s;
}
@keyframes skillAnimation {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}
/* Project page */
#project-1 {
  animation: project1Animation;
  animation-duration: 1.5s;
  animation-delay: 10s;
}
@keyframes project1Animation {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}
#project-2 {
  animation: project2Animation;
  animation-duration: 1.5s;
  animation-delay: 10s;
}
@keyframes project2Animation {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
#projectAnimations {
  animation: aboutAnimation;
  animation-duration: 1.5s;
  animation-delay: 10s;
}
@keyframes aboutAnimation {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}
