/* Navbar Animations */
.NavElement {
  animation: navAnimation;
  animation-duration: 1s;
}
@keyframes navAnimation {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
#NavH3 {
  animation: logoAnimation;
  animation-duration: 1s;
}
@keyframes logoAnimation {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
/* home page Animations */
.iconCard {
  animation: SocialIconAnimation;
  animation-duration: 1s;
}
@keyframes SocialIconAnimation {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}
